mat-card
{
    margin: auto;
    text-align: center;
    background-color:#673ab7;
    color: white;
    
    
}
mat-card-header
{
    flex-direction: column;
    text-align:center;
    margin: auto;

}
.mat-card-header .mat-card-title 
{
    font-size: 2em;
}
mat-card-subtitle
{
    color: aliceblue;
}