<mat-button-toggle-group class="parent" name="fontStyle" aria-label="Font Style" fxLayout fxLayout="row"  fxLayoutAlign="center center">
    <mat-button-toggle class= "child" routerLink ="/show/add" fxFlex="33.3">Add</mat-button-toggle>
    <mat-button-toggle class= "child" routerLink="/show/update" fxFlex="33.3">Update</mat-button-toggle>
    <mat-button-toggle class= "child" routerLink="/show/delete" fxFlex="33.3">Delete</mat-button-toggle>
</mat-button-toggle-group>

<router-outlet></router-outlet>
 