ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
h2{
    width: 100%;
    margin: auto;
    text-align: center;
}


@media screen and (max-width: 400px) {
    li
    {
        margin: 1%;
        flex-basis: 98%;
    }
}

@media screen and (min-width: 401px) and (max-width: 720px) {
    li
    {
        margin: 1%;
        flex-basis: 48%;
    }
}

@media screen and (min-width: 721px) and (max-width: 1280px) {
    li
    {
        margin:1%;
        flex-basis: 31%;
    }
}

@media screen and (min-width: 1281px)  {
    li
    {
        margin: 1%;
        flex-basis: 23%;
    }
}