.button-container {
  display: flex;
}
.button{
    margin-right: 50px;
    border-radius: 4px;
    background-color: #8a2be2;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 20px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
  /* .mat-card-actions{
    width: 100%;
  } */
  .card-container {
    width: 100%;
  }
  
  .notfound-image {
    width: 100%;
  }
  #centered-image {
    margin-left:25%;
    margin-right:auto;
    float :none;
    height: 500px;
  }
  /* .mat-card-actions .mat-button:first-child, .mat-card-actions .mat-raised-button:first-child {
    margin-left: 80%;
  } */