<div class="formcontainer">
<form (submit)="loginUser($event)">
    <div class="input">
        YourEmail:
        <input type="email" required>
    </div>
    <div class="input">
        Password:
        <input type="password" required>
    </div>
    <div class="redirect-bottom">
        <p>Don’t have an account?<a class="terms"  [routerLink]="['/userregistration']" routerLinkActive="router-link-active" >Sign Up</a></p>
    </div>
    <div class="tnc-popup">
        <p>I agree to the <a class="terms" >Terms &amp; Conditions</a> &amp; <a class="terms" >Privacy Policy</a></p>
    </div>
    <div class="input">
        <input type="submit" value="Login" class="buttonlog" >
    </div>
</form>
</div>