<div class="container">
	<main class="innerContainer">

		<p class="font14 marginTop5">SCREEN THIS WAY</p>
		<div class="screen"></div>
		<div *ngIf="noOfRows > 0">
				<p class="gold">{{type}}</p>
			<div *ngFor="let row of rows">
				<span class="seat" *ngFor="let col of cols"  let i=index >
					<div *ngIf >
						<br>
							passage Way
						<br>
					</div>	 	
					<span class="glyphicon glyphicon-ok-sign selectedSeat">[_]</span>

				</span>
			</div>
		</div>

		<div *ngIf="noOfRows > 0">
				<p class ="silver">{{type2}}</p>
			<div *ngFor="let row of rows2">
				<span class="seat" *ngFor="let col of cols2"  let i=index>
					<div *ngIf >
						<br>
							passage Way
						<br>
					</div>	 	
					<span class="glyphicon glyphicon-ok-sign selectedSeat">[_]</span>
				</span>
			</div>
		</div>


	</main>
</div>